---
import Social from "./Social.astro";
---

<section class="sticky top-2 z-50">
  <nav
    class="hidden lg:block w-full container mx-auto bg-gray-900 bg-opacity-80 backdrop-blur-md rounded-xl z-50"
  >
    <div class="w-full flex items-center justify-between">
      <div class="w-full">
        <ul class="flex justify-end space-x-12">
          <li>
            <a href="/">HOME</a>
          </li>
          <li>
            <a href="/blog">BLOG</a>
          </li>
          <li>
            <a href="/sobre-mi">SOBRE MI</a>
          </li>
        </ul>
      </div>
      <div class="flex w-1/2 justify-end content-center">
        <Social />
      </div>
    </div>
  </nav>
</section>
