---
import PostAuthorCard from "./PostAuthorCard.astro";

interface Props {
  name: string;
  alt: string;
  github: string;
}

const { name, alt, github } = Astro.props;
---
<hr class="border-pink-500 -mx-4 my-12" />
<footer>
  <div class="my-24 lg:hidden">
    <PostAuthorCard name={name} alt={alt} github={github} />
    <a href="https://www.buymeacoffee.com/robertoserm"
      ><img
        src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=&slug=robertoserm&button_colour=BD5FFF&font_colour=ffffff&font_family=Lato&outline_colour=000000&coffee_colour=FFDD00"
      /></a
    >
  </div>
  <h3 class="pb-3 text-xl font-extrabold">Deja tus comentartios</h3>
</footer>
