---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Layout from "./Layout.astro";
import BigIcon from "../components/BigIcon.astro";
const { frontmatter } = Astro.props;

const postTitle = frontmatter.title
const metaTitle = postTitle + ' | Roberto Serrano Diaz-Grande'

const postDate = new Date(frontmatter.pubDate).toLocaleDateString('es-es', { weekday:"long", year:"numeric", month:"short", day:"numeric"})

---
<Layout title={metaTitle}>

    <Nav />
    <BigIcon />
    <article>
        <div class="mt-32 p-6 m-auto max-w-5xl">
            <h1 class="text-3xl text-center font-black">{postTitle}</h1>
            <div class="flex justify-center gap-4 pt-6">
                <p class="text-center text-base text-indigo-100">📅 {postDate}</p>
            </div>
            <div class="flex justify-center py-20">
                <img src={frontmatter.image.url} class="rounded-md" />
            </div>
            <div class="post-content">
                <slot />
            </div>
        </div>
    </article>
    <Footer />
</Layout>

<style is:global>

.post-content {
    font-size: 1rem;
}

.post-content p,
.post-content ul {
    @apply mb-5 text-indigo-100
}

.post-content :is(h1,h2,h3,h4,h5,h6) {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: bold;
}

.post-content h2 {
    font-size: 28px;
}

.post-content h3 {
    font-size: 24px;
}

.post-content h4 {
    font-size: 20px;
}

.post-content pre {
    @apply p-6 my-12 rounded-xl
}

.post-content ul {
    list-style: initial;
    padding: 12px;
    margin: 18px 0;
}
</style>